@model KanBanDev.Models.Usuario
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Esse é o seu painel, @Model.UsuarioNome - Seu ultimo acesso foi em @Model.UsuarioDtUltimoAcesso </p>
</div>
